body {
    width: 100%;
    height: 100%;
    background-color: rgb(12, 22, 63);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav {
    width: 100%;
    height: 70px;
    background-color: rgb(13, 18, 38);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .logo {
    margin-left: 180px;
}

.category {
    width: 1024px;
    height: 80px;
    margin: 0px auto;
}

.nav .category ul li {
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    color: rgb(247, 224, 114);
    font-size: 16px;

}



.nav .category ul li a {
    color: rgb(247, 224, 114);

}

.nav .category ul li a:hover {
    color: #fff;
}

.indexImg {
    position: relative;
    width: 100%;
    height: 750px;

}

.indexImg img {

    width: 100%;
    height: 750px;
}

.indexImg span {
    display: block;
    position: absolute;
    width: 100%;
    height: 230px;
    background-color: yellow;
    opacity: 0.4;
    top: 340px;
    font-size: 128px;
    font-weight: 700;
    text-align: center;
    line-height: 230px;
    color: #0b1472;
}

/* 底部区域start */
footer {
    width: 100%;
    height: 250px;
    background-color: #0d1226;
}

footer .main {
    width: 1340px;
    height: 100%;
    /* background-color: pink; */
    margin: 0px auto;
}

footer .main h2 {
    width: 100%;
    height: 80px;
}

footer .main h2 img {
    height: 90%;
}

footer .main .content {
    width: 100%;
    height: 135px;
    /* background-color: green; */
    border: 3px solid #fff;
    border-left: 0px;
    border-right: 0px;
}

footer .main .content ul li {
    float: left;
    width: 200px;
    height: 130px;
    margin: 0px 12px;
    /* background-color: skyblue; */
}

footer .main .content ul li ul li {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

footer .main .content ul li ul li a {
    color: #f7e090;
}

footer .main .content ul li ul li:first-child {
    font-size: 24px;
    margin-bottom: 10px;
}

footer .main .content ul li:last-child {
    margin-right: 0px;
}

footer .main .content ul li .left {
    float: left;
    width: 100px;
    height: 100px;
}

footer .main .content ul li .left img {
    margin-top: 15px;
    width: 100%;
    height: 100%;
}

footer .main .content ul li .right {
    padding-top: 5px;
    float: left;
    width: 100px;
    height: 130px;
    font-size: 20px;
    color: #f7e090;
}

footer .under {
    width: 100%;
    height: 36px;
    /* background-color: purple; */
}

footer .under ul li {
    float: left;
    margin-right: 100px;
    font-size: 16px;
    color: #f7e090;
    line-height: 36px;
}

footer .under ul li:first-child {
    margin-left: 20px;
}

/* 底部区域end */